*{
    box-sizing: border-box;
 }

body {
    color: black;
    margin: 0px;
    padding: 0px;
    background-image: url("WebContent/img/bk.jpg");
    background-repeat: no-repeat;
    background-size: 112%;
    background-position-x: center;
    background-position-y: center;
    font-family: 'Baloo Bhai 2', cursive;
}

.left {
    font-family: 'Baloo Bhai 2', cursive;
    display: inline-block;
    position: absolute;
    font-size: 17px;
    left: 23px;
    top: 21px;

}

.left img {
     width: 70px;
}

.logo {
    color: #82afbc;
    font-weight: bold;
}

.center {
    border: 2px solid red;
    width: 800px;
    margin: 29px auto;
    background-color: black;
    border-radius: 17px;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    padding: 13px;
    text-decoration: none;
    font-size: 17px;
}

.navbar li a:hover {
    text-decoration: underline;
    color: red;
}

.right {
    font-family: 'Baloo Bhai 2', cursive;
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 12px;
    color: white;
}

.btn {
    font-size: 15px;
    width: 90px;
    font-family: 'Baloo Bhai 2', cursive;
    margin: 19px 3px;
    padding: 2px;
    background-color: #96dbd3;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 11px;
    height: 44px;
}

.btn:hover {
    background-color: rgb(187, 101, 101);
}

.navbar input {
    border: black;
    margin: -28px 59px;
    padding: 5px 13px;
    float: right;
    border-radius: 6px;
}

.container {
    border: 2px solid rgb(8, 8, 8);
    padding: 12px;
    margin: 113px 99px;
    display: inline-block;
    width: 30%;
    border-radius: 11px;
}

.container2 {
    /* border: 2px solid white; */
    margin: 133px 270px;
    width: 37%;
    display: inline-block;
    border-radius: 11px;
    padding: 12px;
    position: absolute;
    right: -62px;
    text-align: left;
}

.form input {
    height: 49px;
    width: 400px;
    border: 2px solid black;
    display: block;
    margin: 16px auto;
    border-radius: 7px;
    text-align: center;
    font-size: 20px;
}

.container h2 {
    text-align: center;
    color: #676972;
}

.container2 h1{
    font-size: 50px;
    color: cadetblue;
    margin: 0px;
}
.container2 p{
    margin: 0px;
}
.container button {
    /* here we cannot do align because it is not a text */
    display: block;
    width: 108px;
    margin: 19px auto;
}
